<div class="container">

  <div class="page-header">
    <h1>Fix your needs. Select what you are looking for<small></small></h1>
  </div>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
      <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
      <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <a ui-sref="display({id:1})"><img alt="First slide" src="img/mechanic.jpg"></a>
      </div>
      <div class="item">
        <a ui-sref="display({id:2})"><img alt="Second slide" src="img/carpenter.jpg"></a>
      </div>
      <div class="item">
        <a ui-sref="display({id:3})"><img alt="Third slide" src="img/electrician.jpg"></a>
      </div>
      <div class="item">
        <a ui-sref="display({id:4})"><img alt="fourth slide" src="img/plumber.jpg"></a>
      </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

</div>
